<!-- NAVIGATION MENU AREA -->

<nav class="desktop-menu">
    <ul class="sf-menu">
        <li><a href="/">HOME</a></li>
        <li><a href="/news">NEWS</a></li>
        <li><a href="/projects">PROJECTS</a></li>
        <li><a href="/contact">CONTACT</a></li>
        <li><a href="/login">LOGIN</a></li>
    </ul>
</nav>
<!-- END OF NAVIGATION MENU AREA -->
<!--  MOBILE MENU AREA -->
<nav class="mobile-menu">
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/news">NEWS</a></li>
        <li><a href="/projects">PROJECTS</a></li>
        <li><a href="/contact">CONTACT</a></li>
        <li><a href="/login">LOGIN</a></li>
    </ul>
</nav>
<!--  END OF MOBILE MENU AREA -->
